<!doctype html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>WikiGame!</title>
    </head>
    <body>
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1>Welcome!</h1>
            <form method="get" action="/create">
                <button type="submit" class="btn btn-outline-primary" style="width: 175px; padding-top: 10px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 10px;">Create</button>
            </form>
            <form method="get" action="/join">
                <button type="submit" class="btn btn-outline-danger" style="width: 175px; padding-top: 10px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 10px;">Join</button>
            </form>
        </div>
    </body>
</html>